html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: auto;
  flex-direction: row;
}

.container {
  z-index: 1;
  height: auto;
  width: 375px;
  left: 0;
  top: 92px;
  border-radius: 0;
  margin: 0;
  background-image: url(images/header-illsutration-mobile.png);
  background-repeat: no-repeat;
}

.about-me {
  height: auto;
  width: 375px;
  left: 0;
  top: 92px;
}

.vector-desk {
  display: none;
}

.vector-desk3 {
  display: none;
}

.vector-desk4 {
  display: none;
}

.vector-desk5 {
  display: none;
}

.vector-desk2 {
  display: none;
}

.Recent-Work {
  height: auto;
  width: 375px;
  left: 0;
  top: 92px;
}

.icon {
  position: relative;
  height: 24px;
  width: 24px;
  left: 105px;
  top: 3px;
}

.Logo-heading {
  position: relative;
  font-size: 20px;
  right: 105px;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 0;
}

.second-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37e;
  margin: 0;
}

.p {
  margin: 8px 0;
  line-height: 28px;
}

.desk-nav {
  display: none;
}

.content {
  display: flex;
  width: 375px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 125px;
}

.indecator {
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icons {
  margin: 5px;
}

.grid-container {
  display: grid;
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  height: auto;
  border-radius: 8px;
  border: 4px solid #e5e5e5;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 232px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}

.card-title {
  margin-top: 0;
}

.languagesdef {
  text-decoration: none;
  color: #333;
  padding: 5px;
  margin: 2px;
  background-color: #ebf0ee;
  border: 1px solid #ebf0ee;
  border-radius: 8px;
}

.button {
  position: relative;
  text-decoration: none;
  top: 22px;
  color: #fff;
  padding: 15px;
  background-color: #36b37f;
  border: 1px solid #36b37f;
  border-radius: 8px;
}

.footer {
  display: none;
}

.button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 8px;
}

.button:focus {
  background: #008552;
  border-radius: 8px;
}

.buttoncont {
  margin-top: 8px;
}

.button2 {
  margin-top: 25px;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  background-color: #36b37f;
  border: 1px solid #36b37f;
  border-radius: 8px;
}

.button2:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 8px;
}

.button2:focus {
  background: #008552;
  border-radius: 8px;
}

.vector {
  position: relative;
  bottom: 317px;
  left: 153px;
}

.vector2 {
  position: relative;
  bottom: 169px;
  left: -157px;
}

.line {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ebf0ee;
  border-radius: 8px;
  border: 4px solid #e5e5e5;
  width: 375px;
  height: 400px;
  text-align: center;
}

.lang {
  margin-top: 50px;
}

.languagedefcontain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.languagesdef2 {
  text-decoration: none;
  color: #36b37e;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 5px;
}

.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 915px;
  width: 375px;
}

.contact-text {
  height: 363px;
  width: 327px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.contact-shape {
  position: relative;
  height: 173px;
  width: 70px;
  left: 156px;
  bottom: 206px;
}

.contact-form {
  height: auto;
  width: 327px;
  left: 24px;
  top: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form-Name {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 4px;
  line-height: 24px;
}

.Form-Email {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 4px;
  line-height: 24px;
}

.Form-btn {
  height: 48px;
  width: 129px;
  left: 99px;
  top: 282px;
  border-radius: 4px;
  padding: 12px;
  background-color: #36b37f;
  border: 1px solid #36b37f;
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  cursor: pointer;
}

.Form-btn:hover {
  height: 48px;
  width: 129px;
  left: 99px;
  top: 282px;
  border-radius: 4px;
  padding: 12px;
  background-color: #36b37f;
  border: 1px solid #36b37f;
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.Form-btn:focus {
  height: 48px;
  width: 129px;
  left: 99px;
  top: 282px;
  border-radius: 4px;
  padding: 12px;
  background-color: #008552;
  border: 1px solid #008552;
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.Form-text {
  height: 114px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 4px;
  margin-bottom: 44px;
  line-height: 24px;
}

.Form-text::-webkit-input-placeholder {
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.Form-Name::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.Form-Email::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.contact {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .icon {
    display: none;
  }

  .Logo-heading {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;
    width: 100%;
    background-image: url(images/Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content {
    position: relative;
    width: 100%;
    margin-top: 88px;
    bottom: 104px;
  }

  .vector {
    display: none;
  }

  .vector2 {
    display: none;
  }

  .vector-desk {
    position: absolute;
    display: block;
    width: 288px;
    bottom: -1690px;
    left: 1232px;
  }

  .vector-desk2 {
    position: absolute;
    display: block;
    width: 288px;
    bottom: -1852px;
    right: 1230px;
  }

  .vector-desk3 {
    position: absolute;
    display: block;
    width: 234px;
    top: 3521px;
    left: 0;
  }

  .vector-desk4 {
    position: absolute;
    display: block;
    width: 125px;
    top: 3787px;
    right: 1136px;
  }

  .vector-desk5 {
    position: absolute;
    display: block;
    width: 219px;
    top: 3441px;
    right: 0;
  }

  .p {
    width: 622px;
    margin: 24px 0;
  }

  .desk-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .desk-link {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    margin: 0 26px;
  }

  .about-me {
    margin-top: 35px;
    height: 820px;
    width: 100%;
  }

  .Recent-Work {
    margin-top: 35px;
    height: 1244px;
    width: 100%;
  }

  .contact-me {
    margin-top: 35px;
    height: 820px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .indecator {
    display: none;
  }

  .contact-text {
    margin: 0 12px;
    height: 256px;
    width: 463px;
    left: 0;
    top: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
  }

  .heading {
    margin: 24px 0;
  }

  .contact-shape {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 369px);
    gap: 20px;
  }

  .button2 {
    margin-bottom: 52px;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background-color: #36b37f;
    border: 1px solid #36b37f;
    border-radius: 8px;
  }

  .button2:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 8px;
  }

  .button2:focus {
    background: #008552;
    border-radius: 8px;
  }

  .contact {
    display: none;
  }

  .contact-form {
    width: 692px;
    height: auto;
    margin-left: 24px;
  }

  .Form-Name {
    width: 684px;
    height: 48px;
    margin-bottom: 24px;
    border-radius: 4px;
    line-height: 24px;
  }

  .Form-Email {
    width: 684px;
    height: 48px;
    margin-bottom: 24px;
    border-radius: 4px;
    line-height: 24px;
  }

  .Form-text {
    width: 684px;
    height: 114px;
    margin-bottom: 24px;
    border-radius: 4px;
    line-height: 24px;
  }

  .social {
    display: none;
  }

  .Form-btn {
    align-self: flex-start;
  }

  .line {
    display: block;
    width: 100%;
    background-color: #dfe1e6;
    height: 1px;
  }

  .footer {
    width: 100%;
    height: 71px;
    display: block;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
  }

  .social-link {
    margin: 0 5px;
  }
}
